<html>
  <header>

  </header>
  <body>

<div id="content">
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="firstName">First Name</label>
      <input id="firstName" formControlName="firstName">
      <div *ngIf="registrationForm.get('firstName').invalid && (registrationForm.get('firstName').dirty || registrationForm.get('firstName').touched)">
        <small *ngIf="registrationForm.get('firstName').hasError('required')">First Name is required.</small>
        <small *ngIf="registrationForm.get('firstName').hasError('maxlength')">Max length is 20 characters.</small>
        <small *ngIf="registrationForm.get('firstName').hasError('pattern')">Only Arabic or English letters and spaces are allowed.</small>
      </div>
    </div>
    
    <div>
      <label for="middleName">Middle Name</label>
      <input id="middleName" formControlName="middleName">
      <div *ngIf="registrationForm.get('middleName').invalid && (registrationForm.get('middleName').dirty || registrationForm.get('middleName').touched)">
        <small *ngIf="registrationForm.get('middleName').hasError('maxlength')">Max length is 40 characters.</small>
        <small *ngIf="registrationForm.get('middleName').hasError('pattern')">Only Arabic or English letters and spaces are allowed.</small>
      </div>
    </div>
  
    <div>
      <label for="lastName">Last Name</label>
      <input id="lastName" formControlName="lastName">
      <div *ngIf="registrationForm.get('lastName').invalid && (registrationForm.get('lastName').dirty || registrationForm.get('lastName').touched)">
        <small *ngIf="registrationForm.get('lastName').hasError('required')">Last Name is required.</small>
        <small *ngIf="registrationForm.get('lastName').hasError('maxlength')">Max length is 20 characters.</small>
        <small *ngIf="registrationForm.get('lastName').hasError('pattern')">Only Arabic or English letters and spaces are allowed.</small>
      </div>
    </div>
    
    <div>
      <label for="birthDate">Birth Date</label>
      <input type="date" id="birthDate" formControlName="birthDate">
      <div *ngIf="registrationForm.get('birthDate').invalid && (registrationForm.get('birthDate').dirty || registrationForm.get('birthDate').touched)">
        <small *ngIf="registrationForm.get('birthDate').hasError('required')">Birth Date is required.</small>
        <small *ngIf="registrationForm.get('birthDate').hasError('minAge')">Minimum age is 20 years.</small>
      </div>
    </div>
  
    <div>
      <label for="mobileNumber">Mobile Number</label>
      <input id="mobileNumber" formControlName="mobileNumber">
      <div *ngIf="registrationForm.get('mobileNumber').invalid && (registrationForm.get('mobileNumber').dirty || registrationForm.get('mobileNumber').touched)">
        <small *ngIf="registrationForm.get('mobileNumber').hasError('required')">Mobile Number is required.</small>
        <small *ngIf="registrationForm.get('mobileNumber').hasError('pattern')">Format example +021006158123.</small>
      </div>
    </div>
    
    <div>
      <label for="email">Email</label>
      <input id="email" formControlName="email">
      <div *ngIf="registrationForm.get('email').invalid && (registrationForm.get('email').dirty || registrationForm.get('email').touched)">
        <small *ngIf="registrationForm.get('email').hasError('required')">Email is required.</small>
        <small *ngIf="registrationForm.get('email').hasError('email')">Invalid email.</small>
      </div>
    </div>
  



    <div>
      <form [formGroup]="currentAdd">
        <h4>Add Addresses</h4>
        <div>
          <label for="governate">Governate</label>
          <select id="governate" formControlName="governate" (change)="getetallcitiesbygovernorateid($event)">
            <option selected value=null>--Selcet Governate</option>
            <option *ngFor="let gov of governates" [value]="gov.id">{{gov.name}}</option>
          </select>
          <div *ngIf="currentAdd?.get('governate').invalid && (currentAdd?.get('governate').dirty || currentAdd?.get('governate').touched)">
            <small *ngIf="currentAdd?.get('governate').hasError('required')">Governate is required.</small>
          </div>
        </div>
        
        <div>
          <label for="city">City</label>
          <select id="city" formControlName="cityId">
            <option  selected value=null>--Selcet City</option>
            <option *ngFor="let city of currentcities" [value]="city.id">{{city.name}}</option>
          </select>
          <div *ngIf="currentAdd?.get('cityId').invalid && (currentAdd?.get('cityId').dirty || currentAdd?.get('cityId').touched)">
            <small *ngIf="currentAdd?.get('cityId').hasError('required')">cityId is required.</small>
          </div>
        </div>
  
        <div>
          <label for="street">Street</label>
          <input id="street" formControlName="street">
          <div *ngIf="currentAdd?.get('street').invalid && (currentAdd?.get('street').dirty || currentAdd?.get('street').touched)">
            <small *ngIf="currentAdd?.get('street').hasError('required')">Street is required.</small>
            <small *ngIf="currentAdd?.get('street').hasError('maxlength')">Max length is 200 characters.</small>
          </div>
        </div>
        
        <div>
          <label for="buildingNumber">Building Number</label>
          <input id="buildingNumber" formControlName="buildingNumber">
          <div *ngIf="currentAdd?.get('buildingNumber').invalid && (currentAdd?.get('buildingNumber').dirty || currentAdd?.get('buildingNumber').touched)">
            <small *ngIf="currentAdd?.get('buildingNumber').hasError('required')">Building Number is required.</small>
          </div>
        </div>

        <div>
          <label for="flatNumber">Flat Number</label>
          <input id="flatNumber" formControlName="flatNumber">
          <div *ngIf="currentAdd?.get('flatNumber').invalid && (currentAdd?.get('flatNumber').dirty || currentAdd?.get('flatNumber').touched)">
            <small *ngIf="currentAdd?.get('flatNumber').hasError('required')">Building Number is required.</small>
          </div>
        </div>


      </form>
      </div> 
  
    <table>
      <thead>
        <tr>
          <th>governate</th>
          <th>City</th>
          <th>Street</th>
          <th>buildingNumber</th>
          <th>flatNumber</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody formArrayName="addresses">
        <tr *ngFor="let address of addresses.controls; let i=index" [formGroupName]="i">
          <td>
            <label>{{getGovernorateName(address?.get('governate')?.value)}}</label>
          </td>
          <td>
            <label>{{getCityName(address?.get('cityId')?.value)}}</label>
            
          </td>
          <td>
            <label>{{address?.get('street')?.value}}</label>
            
          </td>
          <td>
            <label>{{address?.get('buildingNumber')?.value}}</label>
          </td>
          <td>
            <label>{{address?.get('flatNumber')?.value}}</label>
          </td>
          <td>
            <button type="button" (click)="removeAddress(i)">Remove</button>
          </td>
        </tr>
      </tbody>
    </table>
  
    <button type="button" (click)="addAddress()">Add Address</button>

    <button type="submit">Submit</button>
  </form>
  
</div>
</body>
</html>
